.box{
   display: flex;
    background-color: rgb(221, 212, 212);
    justify-content:space-between;
}


.box1 a{
    color:white;
}


@media only screen and (max-width: 600px) {
    .box {
      background-color: lightblue;
     
    }

.box1{

    
}


  }